---
layout: default
---

<h2>{{ page.title }}</h2>

  {% include page-intro.html %}

  {{ content }}

  <section>

    <h3>From the blog</h3>

    <ul>
    {% for post in site.posts %}
    {% assign author = site.data.authors[post.author] %}
      <li>
      
        <time datetime="{{ post.date }}">
          <small>
            {{ site.data.languages[post.lang].icon }}
            <strong>{{ post.date | date_to_string }}</strong>
          </small>
        </time>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
    
    
    

  </section>
